<div class="container">
  <!--nav bar -->
  <%= render partial: "shared/navBar" %>
  <!-- title -->
  <br>
  <h2 class="text-center">美食達人</h2>
  <br>
  <!-- user list -->
  <div class="row">
    <% @users.each do |user| %> 
      <% if user != current_user %>
        <div class="col-xs-6 col-sm-4 col-lg-3">
          <%= render partial: "shared/user_in_thumbnail", locals:{user: user} %> 
        </div>  
      <% end %> 
    <% end %>  
  </div>
</div>    