<ul>

  <% @users.each do |user| %>
    <li>
      <%= user.name %>
      <%= link_to 'Follow', followships_path(following_id: user, user_id: current_user), method: :post, class: 'btn btn-danger' %>
    </li>
  <% end %>

</ul>