<% if !restaurant.is_favorited?(current_user) %> 
  <%= link_to '<span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-folder-open"></span>'.html_safe, favorite_restaurant_path(restaurant), method: :post, class: "btn btn-danger active" %>
<% else %> 
  <%= link_to '<span class="glyphicon glyphicon-minus"></span><span class="glyphicon glyphicon-folder-open"></span>'.html_safe, unfavorite_restaurant_path(restaurant), method: :post, class: "btn btn-default active" %>
<% end %> 