<%= link_to restaurant_path(restaurant) do %>
  <div class="my-restaurant">
    <% if restaurant.image? %>
      <%= image_tag restaurant.image, class: "img-rounded" %> 
    <% else %>                  
      <img src="http://via.placeholder.com/350x235">
    <% end %>  
    <h4><%= restaurant.name %></h4>
  </div>
<% end %> 