 <div class="container">
  <!-- nav bar -->
  <%= render partial: "shared/navBar" %>
  <br>
  <!-- restaurants List -->
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail opacity_white">
          <% if restaurant.image? %>
            <%= image_tag restaurant.image, height:'50%', class: "img-thumbnail" %> 
          <% else %>
            <img src="http://via.placeholder.com/350x235">
          <% end %>
          <%= render partial: "shared/restaurant_caption_link", locals: {restaurant: restaurant} %>
        </div>
      </div>  
    <% end %>      
  </div> 
  <!-- 有generate kaminari paginate bootstrap style -->
  <div class="text-center"><%= paginate @restaurants %></div>
</div>    