<div class="container">
  <!--nav bar -->
  <%= render partial: "shared/navBar" %>
  <!-- title -->
  <br>
  <h2 class="text-center">十大熱門餐廳</h2>
  <br>
  <!-- 依照收藏數降冪排序取前10位熱門餐廳 -->
  <% @top_restaurants.each do |restaurant| %> 
    <div class="panel panel-default">
      <div class="panel-body">  
        <div class ="row">
          <div class ="col-sm-5 col-md-3">
            <!-- 若無照片則以glyphicon代替 -->
            <% if restaurant.image? %>
              <%= image_tag restaurant.image, height: '100px', class: "img-responsive" %>
            <% else %>
              <img src="http://via.placeholder.com/350x235", height: '100px'>
            <% end %>
          </div>  
          <div class="col-sm-7 col-md-8">
            <%= render partial: "shared/restaurant_caption_link", locals: {restaurant: restaurant} %>
          </div>
        </div>
      </div>  
    </div>
  <% end %> 
</div>