body {
  background: image-url("bgi.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.field_with_errors { display: inline }