/* (目前未使用)可用controller和action的name作為id，方便css指定到不同VIEW
 * body id="<%= controller.controller_name %>-<%= controller.action_name %>"  
 */

body {
  background: image-url("bgi.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.field_with_errors { display: inline }

.nav-pills-center {
   text-align: center;
 }
 
 .nav-pills-center > li {
   float: none;
   display: inline-block;
 }