/* (目前未使用)可用controller和action的name作為id，方便css指定到不同VIEW
 * body id="<%= controller.controller_name %>-<%= controller.action_name %>"  
 */

body {
  background: image-url("bgi.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.container {
  width: 80%;
  margin: 0 auto;
}


.field_with_errors { display: inline }

.nav-pills-center {
   text-align: center;
 }
 
 .nav-pills-center > li {
   float: none;
   display: inline-block;
 }
/* nav bar catergory list 的最新動態 */
 .news {
  background-color: white;
  border: 1px solid #337ab7;
  border-radius: 4px;
  margin-right: 2px;
 }

/* commented restaurants in user's profile */

.my-restaurant {
  background-color: #dff0d8;
  display: inline-block;
  text-align: center;
  padding: 3px ;
  border-radius: 10px;
  margin: 10px;
  min-width: 100px;
}


.my-restaurant > img {
  height: 70px; 
}

.panel a:hover a:focus .my-restaurant {
  background-color: #FFAA33;
  text-decoration: none;
  }

/* background opacity change without text effect */
.panel{
  background:rgba(0,0,0,0.1)
}